[Unit]
Description=My Hello World Service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/bill/hello-systemd.sh

[Install]
WantedBy=multi-user.target